/* MAIN CSS FILE */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CloudFont;
  src: url(/src/assets/fonts/webfontkit-20220420-135435/alphasmoke-oox6-webfont.woff);
}

#CloudFont {
  font-family: CloudFont;
  font-size: xx-large;
}
